.hero-title h1 {
    color: #000;

    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.hero-title p {
    color: #222;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    /* 17.6px */
}